<ng-template #control_feedback let-field_name>
    <ng-container *ngIf="has_field_danger(field_name)">
        <div class="form-control-feedback" *ngFor="let err of form_errors[field_name]">
            {{err}}
        </div>
    </ng-container>
</ng-template>

<ng-template #buttons>
    <button class="btn btn-danger" type="button" [disabled]="is_new" (click)="on_remove();">
        <i class="fa fa-remove"></i>
        Remove
    </button>
    <button class="btn btn-primary" type="submit" [disabled]="!form_group.valid || form_group.pristine">
        <i class="fa fa-save"></i>
        Save
    </button>
</ng-template>

<ng-template #progress_bar>
    <md-progress-bar
            *ngIf="is_saving"
            color="primary"
            mode="indeterminate">
    </md-progress-bar>
</ng-template>

<div class="animated fadeIn">
    <form [formGroup]="form_group" (ngSubmit)="on_submit()" novalidate>
        <div class="card">
            <div class="card-header">
                <div class="row justify-content-between align-items-center">
                    <div class="col-4">
                        <h4>User Details</h4>
                    </div>
                    <div class="col-8 text-right">
                        <ng-container
                                *ngTemplateOutlet="buttons"></ng-container>
                    </div>
                </div>
            </div>
            <ng-container *ngTemplateOutlet="progress_bar"></ng-container>
            <div class="card-block">
                <ngb-alert *ngIf="form_error" [type]="form_error_type" [dismissible]="false">
                    <h5 class=".alert-heading">Error!</h5>
                    {{form_error}}
                </ngb-alert>
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-6 col-sm-12 text-center">
                        <div class="col-12 text-center">
                            <img class="rounded-circle img-fluid" style="max-width: 200px;"
                                 src="{{user.picture_url}}"/>
                        </div>
                        <div class="col-12 text-center">
                            <input type="file" formControlName="file" style="display: none;" accept="image/*"
                                   (change)="on_file_changed($event)" #file>

                            <button md-raised-button type="button" (click)="on_upload()">Upload</button>
                        </div>
                        <div class="col-12 text-center" *ngIf="is_uploading">
                            <md-progress-spinner
                                    style="width: 100px; height: 100px; margin: 0px 50px;"
                                    class="example-margin"
                                    attr.color="primary"
                                    mode="determinate"
                                    [value]="upload_progress"
                            >
                            </md-progress-spinner>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group" [class.has-danger]="has_field_danger('first_name')">
                            <label for="first_name">First Name</label>
                            <input type="text" class="form-control" id="first_name" formControlName="first_name"
                                   placeholder="First Name">
                            <ng-container
                                    *ngTemplateOutlet="control_feedback; context: {$implicit: 'first_name'}"></ng-container>
                        </div>
                        <div class="form-group" [class.has-danger]="has_field_danger('last_name')">
                            <label for="last_name">Last Name</label>
                            <input type="text" class="form-control" id="last_name" formControlName="last_name"
                                   placeholder="Last Name">
                            <ng-container
                                    *ngTemplateOutlet="control_feedback; context: {$implicit: 'last_name'}"></ng-container>
                        </div>
                        <div class="form-group" [class.has-danger]="has_field_danger('email')">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" formControlName="email"
                                   placeholder="Email">
                            <ng-container
                                    *ngTemplateOutlet="control_feedback; context: {$implicit: 'email'}"></ng-container>
                        </div>
                        <div class="form-group" [class.has-danger]="has_field_danger('password')">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" formControlName="password"
                                   placeholder="Password">
                            <ng-container
                                    *ngTemplateOutlet="control_feedback; context: {$implicit: 'password'}"></ng-container>
                        </div>
                        <div class="form-group" [class.has-danger]="has_field_danger('password_again')">
                            <label for="password_again">Re-type Password</label>
                            <input type="password" class="form-control" id="password_again"
                                   formControlName="password_again"
                                   placeholder="Password">
                            <ng-container
                                    *ngTemplateOutlet="control_feedback; context: {$implicit: 'password_again'}"></ng-container>
                        </div>

                    </div>
                </div>
            </div>
            <ng-container *ngTemplateOutlet="progress_bar"></ng-container>
            <div class="card-footer">
                <div class="row">
                    <div class="col text-right">
                        <ng-container
                                *ngTemplateOutlet="buttons"></ng-container>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>