<home-nav></home-nav>

<div class="app-body">
    <home-side></home-side>

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <breadcrumbs></breadcrumbs>
        </ol>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div><!-- /.container-fluid -->
    </main>
</div>

<footer class="app-footer">
    <a href="#">Vlad Isan</a> &copy; 2017 Vlad Isan.
    <span class="float-right">Powered by <a href="#">Innerbyte Solutions LTD</a></span>
</footer>